<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        default-autowire="byName">
    <!-- prototype 多例-->
    <bean id="people" class="com.xoste.leon.pojo.People" scope="prototype"/>
    <!-- singleton 单例-->
    <bean id="teacher" class="com.xoste.leon.pojo.Teacher" scope="singleton"/>
    <!--<bean id="teacher2" class="com.xoste.leon.pojo.Teacher"/>
    <bean id="people" class="com.xoste.leon.pojo.People"/>
    <bean id="people1" class="com.xoste.leon.pojo.People"/>-->
</beans>